In [1]:
from IPython.display import display, HTML
display(HTML("<style>:root {--jp-notebook-max-width: 3000px;}</style>"))
display(HTML("<style>.container { width:100% !important; }</style>"))

# 기계학습 (60점)

### 리그오브레전드 게임 로그 데이터
data_path = './data/game_result.csv'     
data_path = './data/log.csv'

데이터는 리그오브레전드 게임의 로그 데이터이다.    

---
리그오브 레전드 게임 룰
- 5명의 플레이어가 각자 다른 포지션에서 성장을 통해 아이템과 레벨을 올려 상대의 기지를 파괴하는 AOS장르의 게임
- 두 팀(red,blue)이 격돌, 각 팀은 5명의 플레이어가 5개의 포지션('T', 'J', 'M', 'B', 'S')을 하나씩 맡는다.   
---
데이터 설명
- game_result.csv : 게임 결과에 대한 정보
    - gameId: 게임명
    - win : 승리여부 True-승리, False-패배
    - TEAM: 팀 정보 (rea,blue)
    
- log.csv : 인게임 정보
    - time : 게임의 5분간격(~25분까지)
    - gameId : 게임명
    - variable : 6가지의 특정 행동 정보 
        - minionsKilled : 누적 몬스터 킬수
        - totalGold : 누적 골드획득량
        - totalDamageTaken : 누적 피해량
        - totalDamageDone : 누적 데미지
        - WARD_PLACED : 누적 시야 정보량
        - WARD_KILL : 누적 시야 제거량

In [1]:
import pandas as pd
gr =pd.read_csv('./data/game_result.csv')
display(gr.head())

log =pd.read_csv('./data/log.csv')
display(log.head())

          gameId    win  TEAM
0  JP1_340505476  False  blue
1  JP1_340505476   True   red
2  JP1_340611094   True   red
3  JP1_340611094  False  blue
4  JP1_340621330   True   red

   time          gameId       variable  value POSITION  TEAM
0   5.0  LA1_1242504360  minionsKilled   33.0        T  blue
1  10.0  LA1_1242504360  minionsKilled   76.0        T  blue
2  15.0  LA1_1242504360  minionsKilled  110.0        T  blue
3  20.0  LA1_1242504360  minionsKilled  143.0        T  blue
4  25.0  LA1_1242504360  minionsKilled  167.0        T  blue

### 기계학습1
인게임 정보데이터는 5분간격의 누적 정보이다. each_variable 컬럼을 만들고 각 variable 별로 증가량값으로 채워넣어라      

<img src="./data/1.png" alt="alt_text" style="width:500px; float:left; ">

### 기계학습2
하나의 행에 하나의 인게임 정보를 넣는 작업을 하고 blue 팀의 승패유무와 관련한 데이터를 추가하려한다.     
아래의 전처리 조건을 확인하여 작업을 진행하라

변환할 데이터프레임의 컬럼정보
- gameId (게임아이디)
- {팀명}_{포지션}_{variable} 형식으로 컬럼을 추가한다. variable 별로 아래 조건을 만족하는 값을 채워 넣는다.
    - {팀명}_{포지션}_minionsKilled : 25분의 minionsKilled value컬럼 값을 추가한다.
    - {팀명}_{포지션}_totalGold : each_variable의 다섯 구간 평균값을 추가한다.
    - {팀명}_{포지션}_totalDamageTaken : each_variable의 다섯 구간 평균값을 추가한다.
    - {팀명}_{포지션}_totalDamageDone : each_variable의 다섯 구간 분산값을 추가한다.
    - {팀명}_{포지션}_WARD_PLACED : 15분의 WARD_PLACED value컬럼 값을 추가한다.
    - {팀명}_{포지션}_WARD_KILL : each_variable의 max값을 추가한다.
- result : blue팀의 승리여부, 승리 : 1 , 패배 : 0 

아래와 같이 62개의 컬럼이 완성된다.    
<img src="./data/2.png" alt="alt_text" style="width:500px; float:left; ">

### 기계학습 3
데이터 EDA 및 시각화

### 기계학습4      
전처리한 데이터를 바탕으로 승리 예측 분류 모델을 만들려고한다. 아래의 기준으로 모델링을 하고 평가를 진행하라     
- 랜덤포레스트와 그래디언트 부스팅으로 학습한다
- 각 모델별로 3개의 파라미터들을 2개 이상 조합하여 최적의 파라미터를 찾는다.   
- 학습데이터는 70%를 사용한다
- auc값으로 평가를 진행하며 ROC Curve를 그려라

### 기계학습5 
성능이 우수한 모델로부터 변수중요도를 시각화하고 해석하라

### 폐처리 시설의 여러 대기 측정정보

data_path = './data/mc.csv'

데이터는 특정 폐수 처리시설 주변의 여러 측정센서를 통해 5분간격으로 측정한 데이터이다.
- 매 5분동안 최대 24개의 주변 측정소에서 여러 정보들을 수집한다.

In [41]:
import pandas as pd
df = pd.read_csv('./data/mc.csv')
df.head()

,측정장소,측정일시,온도,습도,풍향,풍속,황화수소,암모니아,휘발성유기화합물,강수량,기압,초미세먼지
0,1,2022-01-10 09:00:00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0,0.0,0.0
1,3,2022-01-10 09:00:00,0.00,0.0,0.0,0.00,9.2,0.0,0.0,0,0.0,0.0
2,4,2022-01-10 09:00:00,0.00,0.0,0.0,0.00,0.8,0.0,0.0,0,0.0,0.0
3,5,2022-01-10 09:00:00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0,0.0,0.0
4,6,2022-01-10 09:00:00,12.14,81.9,0.3,0.03,6.0,0.0,0.0,0,1019.5,113.8

### 기계학습5    
다음의 기준으로 전처리를 시행하고 시각화를 포함한 EDA를 진행하라
1. 측정일시별로 측정장소 상관없이 각 측정값들의 최대값 1개만 남겨라. 
2. 1의 전처리 후 온도 ~ 초미세먼지 값이 모두 0인 데이터 행은 제거하라

### 기계학습6     
데이터의 측정시간대를 일별 6시간 간격(0 ~ 5시 ,6~12시 ..)으로 나누어 각 컬럼의 수치 평균값을 내라. 
각 시간 구간을 0,1,2,3으로 표기하고 date_split 컬럼을 추가한다.

### 기계학습7     
5번에서 전처리한 데이터의 변수간 상관관계를 확인하라.    
date_split의 값이 2과 3인 데이터만 필터하고 각 온도~초미세먼지의 컬럼이 date_split 값에 따른 차이가 존재하는지 통계검정하라

### 기계학습 8
전처리한 데이터를 바탕으로 초미세먼지를 예측하는 모델을 만들려고한다.     
적절한 변수 처리를 하고 다중선형회귀, 랜덤포레스트 모델을 통해 모델 평가를 실시하라.
rmse로 평가를 진행한다.

# 통계 (40점)

## 통계1

### 통계1-1      
어느 지역의 미세 지진 발생 간격은 평균 10년이다. 이 지진 발생 간격은 지수 분포를 따른다고 가정한다.      
최근 지진 이후 5년이 지난 시점에서 7년 이내에 지진이 발생하지 않을 확률은?

### 통계 1-2
지난 지진 발생 후 15년이 지났다. 8년 이내에 지진이 발생할 확률은?

## 통계2
data_path = './data/s1.csv'     
데이터는 식단과 운동강도에 따라 감량 체중을 기록한 다이어트 프로그램 결과이다.

In [107]:
import pandas as pd
df =pd.read_csv('./data/s1.csv')
df.head()

     유저    식단   운동      감량체중
0  ID-1  저탄고단  저강도  5.496714
1  ID-2  저탄고단  저강도  4.861736
2  ID-3  저탄고단  저강도  5.647689
3  ID-4  저탄고단  저강도  6.523030
4  ID-5  저탄고단  저강도  4.765847

### 통계 2-1
식단과 운동의 조합으로 만들어지는 4개의 그룹들의 각 그룹의 정규성과 그룹간 등분산성을 확인하라

### 통계 2-2
이원분산분석을 진행하려한다. 2-1의 결과를 바탕으로 모수,비모수 방법을 결정하고 주효과에 대한 가설과 교호작용 효과에 대한 가설을 설정하라

### 통계2-3
통계검정을 실시하고 결과를 해석하라.

### 통계 2-4
사후검정을 실시하고 결과를 해석하라.

## 통계3
data_path = './data/s3.csv'     
나이와 성별, 급여 관련한 정보이다. 구매여부(Purchased)를 예측하는 로지스틱 회귀 모델을 만드려고 한다.

In [112]:
import pandas as pd
df =pd.read_csv('./data/s3.csv')
df

   Age  EstimatedSalary  Gender  Purchased
0   22            19000       0          0
1   25            20000       1          0
2   47            43000       0          1
3   52            46000       1          1
4   46            22000       1          0
5   56            80000       0          1
6   55            76000       0          1
7   60            83000       1          1
8   62            81000       1          1
9   61            89000       0          1

### 통계3-1
---
<모델학습조건>    
0,2,3,4의 인덱스 데이터를 테스트 데이터로 하고 나머지 행을 학습데이터로 한다.     
학습데이터에 Gender를 더미화하고 나이와 봉급은 표준화(Standardization) 하라.     
---
로지스틱 회귀 모델을 학습하고 모델 평가를 실시하여 결과를 출력하라. 훈련데이터와 평가데이터에 대한 각각의 accuracy 값을 출력하라.

### 통계3-2
test데이터에 대해 예측하지 못한 레이블이 있다면 해당 데이터의 레이블 별 예측확률을 추출하라

### 통계 3-3
새로운 샘플 케이스가 들어왔고 해당 데이터의 더미화 및 표준화의 결과 후 값은 다음과 같다.
| Age  | EstimatedSalary | Gender_0 | Gender_1 |
|------|-----------------|--------|-----------|
| -0.6 | -1.8            | 0      | 1         |     


이 데이터에 대한 모델 결과를 예측하려한다.    
변수별 회귀 계수와 절편값을 통해 계산한 z값과 시그모이드 함수 출력 결과를 각각 구하여라

### 통계 3-4
3-1에서 학습한 모델의 각 변수들의 오즈비를 계산하여 출력하고 가장 많은 오즈가 증가하는 피쳐를 확인하라